<a href="https://colab.research.google.com/github/mostafashahm/mostafashahm/blob/main/Copy_of_Part_1_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<a href="https://www.zero-grad.com/">
         <img alt="Zero Grad" src="https://lh3.googleusercontent.com/oEMY-qk_B2HW_Fponz1a3u1fLfo3NpO0VFjQKnVW8fH0v93NAWala5Kgp0nN2ubiyZdEMpwhv3Ynv7bXsB0RZ28YfEd_ZlRum75OHEu0-z7XwHfcD3sin7_SORLzg1gz52MsxD3b1WbxQWX1RdR4HP3jpbJTOuCiddl92UBcQH_x-Llx7_XuZuwb9ekN9vYnKsw6U1yL2df4IVrJEDySttzab9qlHvMO7sSekgS64jPVAmATjqXqlvrwM026dhrad-7nX-hfr2uKlUGPuo9xKzVo4EhbUP1-pKBQNPNHO6P0KcReg3NxbtKmWXRyg9LPX0xO-wwXWt9GhCcPXFV_BoY5eQXabCjR3mlr9SO01VgWplas-XF4337_JOm-bVkiaQjQca_N4Gg0hy26TvIGRnHEMIPSgudYPqhMnatoN4xAC715rP82r1svC0_qadXMZHu6D40YqWnY9ZE-iujr2p1_CetxmG-uY94UATy7o-SnxuPchG4QfZkiUgRMr8xNg86bQMuBxbCS_lOyVMwfqwbt2IunlDcZ8yyN_3SJFzFHuFOOjQolgGQrytI0mP1oTwba7je0RtBtCuTck1UCMMsZvMnJhCtWgMmuLoYTkSCzxMXbz0T3L2AClDouA_3dwM7z1gdm8Gq4v06T1KWFUs1adGNH5fuj-pUHEfW4drzzXgolPH5SehqhaNsqdMttCPUzNPIIEjwfULyQi7nlP-w-qydK82mdhdmjQhrprfoGtsPckJkI1Tur60uZI7nLkES5cE3tQrGualSNArRkkU8KN4tStZ0CkmqZNkAlMbfAJSYBD7tDxhGSg922AdLevSLJMTUyg6KuHoY30r7zH1Z8fE0R8aFZL2LJl54OU_tkXEdlFlSnZTOdB-PVTj-yagpt99SetLnQIX5SS_Vxc0BNPKjUZG0oEHYbIxkbZN1O7Rg78xe-thytngS0byfuaeP2X4NYjg29FIffnn72bAUs9Ii0N2mOpABLg1uQMN4MyAa1Mbd_=w1300-h200-no?authuser=1" >
      </a>

# **Exercise 1:**

Write a program to accept two numbers from the user and print:
Summation, Subtraction, multiplication and division

In [ ]:
a = float(input('please enter the value for a'))
b = float(input('please enter the value for b'))
print ('addition = ', a+b)
print ('subtraction = ', a-b)
print ('multiplication = ', a*b)
print ('division = ', a/b)

please enter the value for a100
please enter the value for b10
addition =  110.0
subtraction =  90.0
multiplication =  1000.0
division =  10.0

# **Exercise 2:**

Write a program to accept three numbers from the user and print:
Min. Number and Max. Number

In [ ]:
a = float(input('please enter the first value '))
b = float(input('please enter the second value'))
c = float(input('please enter the third value'))
num = [a,b,c]
print ('list Numbers are', num )
print ('Max Number = ', max(num))
print ('Minimum Number = ',min(num))

please enter the first value 1
please enter the second value2
please enter the third value4
list Numbers are [1.0, 2.0, 4.0]
Max Number =  4.0
Minimum Number =  1.0

# **Exercise 3:**

Write a program to accept Name, age and salary from the user and print like this:

> `My name is Ali.I am 30 years old. My salary is 1155.5$`

In [ ]:
name = input('please enter your name ')
age = float(input('please enter your age'))
salary = float(input('please enter your salary'))
print ('My name is', name, 'I am' , age, ' years old. My salary is ', salary, 'usd.' )

please enter your name ahmed
please enter your age30
please enter your salary2500
My name is ahmed I am 30.0  years old. My salary is  2500.0 usd

# **Exercise 4:**

Write a program to accept temperature in Faherenheit and print it in Celsius.
> C = (F - 32) * 5/9

In [ ]:
temp_Feh_degree = float(input('please inter the temperature fehrenheit degree'))
temp_cel_degree = (temp_Feh_degree - 32) * 5/9
print ('temperature Celsius degree is', int(temp_cel_degree) )

please inter the temperature fehrenheit degree100
temperature Celsius degree is 37

# **Exercise 5:**

Write a program to chek if a word is palindrome (read from right as read from left, as "eye", "radar" and "madam").
> Print `True` or `False`

In [ ]:
word = input ('please write a palindrome word')
word_palindrome_check = word == word[::-1]
print ('the palindrome check for the word', word, 'is', word_palindrome_check )

please write a palindrome wordtwo
the palindrome check for the word two is False

# **Exercise 6:**

Write a program to remove the "apple" item from your basket

> `basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}`

In [ ]:
basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}
del basket['apple']
print(basket)

{'Orange': 10, 'Banana': 15}

# **Exercise 7:**

Write a program to return a new set of identical items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 5, 8}`

In [ ]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}
intersection_set = s1.intersection(s2)
print (sorted(intersection_set))

[1, 5, 8]

# **Exercise 8:**

Write a program to return a new set of Unique items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 2, 3, 5, 6, 7, 8, 11, 14}`

In [ ]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}
print (s1.union(s2))

{1, 2, 3, 5, 6, 7, 8, 11, 14}

# **Exercise 9:**

Write a program to Grab "hello"

`d = {'k1':[{'nest_key':['this is deep',['hello']]}]}`

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

print(d['k1'][0]['nest_key'][1])

['hello']

# **Exercise 10:**

Write a program to return a list of unique values of a list
> * `Input   :[1,2,3,1,2,3,4,5,6,4,5,6]`
* `Output  : [1,2,3,4,5,6]`

In [ ]:
list1 = [1,2,3,1,2,3,4,5,6,4,5,6]
unique_list = set(list1)
print (unique_list)

{1, 2, 3, 4, 5, 6}

# **Exercise 11:**

Modify the code below

In [40]:
books = {
    "Life of Pi": "Adventure Fiction",
    "The Three Musketeers": "Historical Adventure",
    "Watchmen": "Comics",
    "Bird Box": "Horror",
    "Harry Potter":"Fantasy Fiction",
    "Good Omens": "Comedy"
}

name = input()
category = books.get(name)
if category:
  print ('for the book name : ',name, 'you can find it in categort', category)
else:
  for book, cat in books.items():
    if name == cat:
        print ('for the category name : ',cat, 'you can find a book called',"'", book,"'.")
        break
  else:
    print ('book not found')

Comedy
for the category name :  Comedy you can find a book called ' Good Omens '.

# **Exercise 12:**

Write a program to calculate the Euclidean Distance between two points

![](https://miro.medium.com/max/277/1*IVy5Ozk6e3sQtG_wuKo19A.jpeg)

In [43]:
p1 = (x1, y1)
p2 = (x2, y2)
euc_dist = (((p2[0]-p1[0])**2)+((p2[1]-p1[1])**2))**0.5
print (euc_dist)

2.8284271247461903

In [ ]:
p1 = (1,2)
p2 = (3,4)

#calculate distance

In [44]:
p1 = (1, 2)
p2 = (3, 4)
euc_dist = (((p2[0]-p1[0])**2)+((p2[1]-p1[1])**2))**0.5
print (euc_dist)

2.8284271247461903

# **Exercise 13:**

Write a program to calculate how many sentances and words in the following paragraph

In [ ]:
paragraph = '''Hello Friends. This is a light exercise. Enjoy!'''

# calculate No. of Sentences & No. of words

In [52]:
paragraph = '''Hello Friends. This is a light exercise. Enjoy!'''
sentences = paragraph.split('.')
words = paragraph.split(' ')
print('number of sentences is ',len(sentences))
print('number of words is ',len(words))

number of sentences is  3
number of words is  8